main {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
#about {
  background-color: #f4f1ea;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 2rem;
}
#img-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-row {
  width: 100%;
}
#about-text {
  width: 30%;
  padding: 2rem;
  background-color: #fffdf8;
}
.heading {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #423125;
  border-top: 1px solid #423125;
}
#about-text h2,
#about-heading {
  font-family: "Americana Std";
}
#about-text p {
  font-family: "Neue Haas Grotesk Display Pro medium";
  line-height: 1.5;
}
#img-text img {
  width: 30%;
}
#text {
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#text p {
  font-family: "Neue Haas Grotesk Display Pro light";
  width: 40%;
  margin: auto;
  border: solid #423125 1px;
  padding: 2rem;
  line-height: 1.5;
}
.outlined {
  position: absolute;
  height: 100%;
  width: 80%;
  display: flex;
  border: solid red 1px;
}
.outlined h2 {
  text-transform: uppercase;
  z-index: 0;
  border: solid blue 1px;
  width: 80%;
  height: auto;
  font-family: "Americana std";
  font-size: 200px;
  padding: 0;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #423125;
  -webkit-text-fill-color: transparent;
}
