main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10%;
  padding: 0 8rem;
  column-gap: 2rem;
}

#info {
  display: flex;
  flex-direction: column;
}
#info #process div p {
  margin: 1rem;
  color: #423125;
  font-family: "Neue Haas Grotesk Display Pro light";
}

#info #process div img {
  max-width: 3rem;
  max-height: 3rem;
  margin-top: 3px;
}

#process h1 {
  padding-bottom: 15px;
}
.heading {
  color: #423125;
  font-family: "Americana Std";
  font-weight: lighter;
  font-size: xx-large;
}
#process div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

#contact p {
  color: #423125;
  font-family: "Neue Haas Grotesk Display Pro light";
}

#icons {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#icons a {
  font-size: 15px;
  margin-right: 40px;
}

#icons svg {
  margin-right: 10px;
}
#form_section,
#info {
  width: 550px;
}
/* FORM STYLING */

#form_section {
  background-color: #f4f1ea;
}

#form_section h2 {
  padding-top: 0;
  margin-top: 0;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #423125;
  border-top: 1px solid #423125;
}

form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-family: "Neue Haas Grotesk Display Pro roman", sans-serif;
  z-index: 1;
}
#form-wrapper {
  width: 100%;
}

label.float {
  position: absolute;
  color: #423125;
  font-size: smaller;
  padding: 12px;
}

input {
  font-family: "Neue Haas Grotesk Display Pro roman", sans-serif;
  background-color: #f4f1ea;
  border: 1px solid #423125;
  padding: 12px;
  padding-top: 35px;
  padding-bottom: 10px;
  color: #423125;
  font-size: 15px;
}

form input#fname {
  width: 249px;
  margin-right: 10px;
  margin-bottom: 20px;
}

form input#phone_number {
  width: 132px;
  margin-bottom: 20px;
}

form input#email_felt {
  margin-right: 10px;
  width: 201px;
}

form select#project_type {
  background-color: #f4f1ea;
  border: 1px solid #423125;
  color: #423125;
  padding: 15px;
  padding-left: 10px;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 15px;
  appearance: none;
  width: 205px;
}

div#budget {
  margin-top: 20px;
  border: 1px solid #423125;
  padding: 15px;
  max-width: 415px;
  margin-bottom: 20px;
}

div#budget p {
  padding-top: 0px;
  margin-top: 0px;
  color: #423125;
  font-size: 13px;
}

div#budget label {
  color: #423125;
  font-size: 13px;
  margin-right: 15px;
}

div#budget input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}

div#message_box textarea {
  width: 85%;
  resize: none;
  background-color: #f4f1ea;
  border: 1px solid #423125;
  padding-left: 11px;
  padding-top: 35px;
  color: #423125;
  font-size: 15px;
  margin-bottom: 18px;
}

div#message_box textarea:focus {
  outline: 1px solid #423125;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #423125;
}

/*DEFAULT BROWN BUTTON*/
.enquire {
  font-family: "Neue Haas Grotesk Display Pro roman", sans-serif;
  font-size: large;
  background-color: #423125;
  color: white;
  border: solid #423125 1px;
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.arrow {
  background: url(/assets/images/arrow_icon-white.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.enquire:hover {
  background: none;
  border: solid #423125 1px;
  color: #423125;
  transition: all 0.2s;
}
.enquire:hover .arrow {
  background: url(/assets/images/arrow_icon.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
#e_mail a,
#phone a {
  color: #423125;
  text-decoration-line: none;
}
#e_mail a:hover,
#phone a:hover {
  text-decoration-line: underline;
}
/*RESPONSIVENES*/
@media screen and (max-width: 1388px) {
  main {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1292px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
@media screen and (max-width: 1178px) {
  main {
    margin-top: 15%;
  }
}
@media screen and (max-width: 765px) {
  main {
    margin-top: 17%;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 20%;
  }
  .heading {
    font-size: x-large;
  }
  .enquire {
    width: 30vw;
  }
  #form_section,
  #info {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  form input#fname,
  form input#phone_number,
  form input#email_felt,
  form select#project_type,
  #budget {
    width: 80%;
  }
}
