main {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
/*MONSI BUTTON*/
#monsi {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 30%;
  padding: 1.5rem;
  background: none;
  border: solid #423125 1px;
  left: 50%;
  margin-bottom: 2rem;
  z-index: 1;
  cursor: pointer;
}
#monsi-btn-txt {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#monsi-btn-txt h2,
#monsi-btn-txt p {
  margin: 0;
}
h2 {
  font-family: "Americana Std";
}
#monsi-btn-txt p {
  font-family: "Neue Haas Grotesk Display Pro light";
  font-size: larger;
}
#arrow-monsi {
  background: url(/assets/images/arrow_icon.png);
  width: 30%;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
#monsi:hover #arrow-monsi {
  transform: translateX(15%);
  transition: all 0.3s;
}

/*PROJECTS*/

#all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-items: center;
}

.cover-link {
  position: relative;
  width: 60%;
  margin: 0;
  align-self: center;
}
.cover {
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.project-name {
  z-index: 2;
  font-family: "Americana Std";
  position: absolute;
  font-size: 1.5rem;
  color: white;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.5s;
}
/*TRANSLATE*/
#all-projects a:nth-child(4n) {
  transform: translate(30%, -70%);
}

#all-projects a:nth-child(4n + 2) {
  transform: translate(0%, -15%);
}
#all-projects a:nth-child(4n + 3) {
  transform: translate(-20%, -30%);
}

.project-div:hover .cover {
  opacity: 0.8;
  transition: all 0.5s;
}
.project-div:hover .project-name {
  font-size: 1.7rem;
  transition: all 0.5s;
}
#projects-cards {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.outlined {
  position: absolute;
  border: solid red 1px;
  font-size: 12rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.outlined h2 {
  width: 100%;
}

.card-div {
  position: relative;
  background-color: #f4f1ea;
  padding: 0;
}
.project-title {
  text-align: center;
  font-family: "Americana Std";
  font-size: 2rem;
  padding: 2rem;
  border-top: solid #423125 1px;
  border-bottom: solid #423125 1px;
  margin: 0;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project-info {
  border-right: solid #423125 1px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-info p {
  line-height: 1.5;
  font-family: "Neue Haas Grotesk Display Pro light";
}
.project-pictures {
  text-align: center;
  padding: 1rem;
}
.project-pictures img {
  width: 100%;
}
/*DEFAULT BROWN*/
.enquire {
  font-family: "Neue Haas Grotesk Display Pro roman", sans-serif;
  font-size: large;
  background-color: #423125;
  color: white;
  border: solid #423125 1px;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.arrow {
  background: url(/assets/images/arrow_icon-white.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.enquire:hover {
  background: none;
  border: solid #423125 1px;
  color: #423125;
  transition: all 0.2s;
}
.enquire:hover .arrow {
  background: url(/assets/images/arrow_icon.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
/*DEFAULT WHITE
.inquire {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: large;
  background: none;
  color: #423125;
  border: solid #423125 1px;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.arrow {
  background: url(/assets/images/arrow_icon.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.inquire:hover {
  background: none;
  background-color: #423125;
  color: white;
  transition: all 0.2s;
}
.inquire:hover .arrow {
  background: url(/assets/images/arrow_icon-white.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
*/
