main {
  padding: 10rem 8rem 0 8rem;
}
/*MONSI BUTTON*/
#monsi {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 30%;
  padding: 1.5rem;
  background: none;
  border: solid #423125 1px;
  left: 50%;
  margin-bottom: 2rem;
  z-index: 1;
  cursor: pointer;
}
#monsi-btn-txt {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #423125;
}
#monsi-btn-txt h2,
#monsi-btn-txt p {
  margin: 0;
}
h2 {
  font-family: "Americana Std";
}
#monsi-btn-txt p {
  font-family: "Neue Haas Grotesk Display Pro light";
  font-size: larger;
}
#arrow-monsi {
  background: url(assets/images/arrow_icon.png);
  width: 30%;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
#monsi:hover #arrow-monsi {
  transform: translateX(15%);
  transition: all 0.3s;
}

/*PROJECTS*/

#all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-items: center;
}

.cover-link {
  position: relative;
  width: 60%;
  margin: 0;
  align-self: center;
}
.cover {
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.project-name {
  z-index: 2;
  font-family: "Americana Std";
  position: absolute;
  font-size: 1.5rem;
  color: white;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.5s;
}
/*TRANSLATE*/
#all-projects a:nth-child(4n) {
  transform: translate(30%, -60%);
}

#all-projects a:nth-child(4n + 2) {
  transform: translate(0%, -15%);
}
#all-projects a:nth-child(4n + 3) {
  transform: translate(-20%, -30%);
}

.project-div:hover .cover {
  opacity: 0.8;
  transition: all 0.5s;
}
.project-div:hover .project-name {
  font-size: 1.7rem;
  transition: all 0.5s;
}
#projects-cards {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.outlined {
  position: absolute;
  width: 100%;
  opacity: 0.3;
  height: 100%;
  display: flex;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}
.outlined h2 {
  z-index: 0;
  width: 100%;
  height: auto;
  font-family: "Americana Std";
  font-size: 400px;
  margin: auto;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #423125;
  -webkit-text-fill-color: transparent;
}

.card-div {
  position: relative;
  background-color: #f4f1ea;
  padding: 0;
}
.project-title {
  text-align: center;
  font-family: "Americana Std";
  font-size: 2rem;
  padding: 2rem;
  border-top: solid #423125 1px;
  border-bottom: solid #423125 1px;
  margin: 0;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project-info {
  border-right: solid #423125 1px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-info p {
  z-index: 1;
  line-height: 1.5;
  font-family: "Neue Haas Grotesk Display Pro light";
}
.project-pictures {
  text-align: center;
  padding: 1rem;
}
.project-pictures img {
  width: 70%;
}
/*DEFAULT BROWN*/
.project-info a {
  text-decoration: none;
  z-index: 1;
}
.enquire {
  font-family: "Neue Haas Grotesk Display Pro roman", sans-serif;
  font-size: large;
  background-color: #423125;
  color: white;
  border: solid #423125 1px;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}
.arrow {
  background: url(assets/images/arrow_icon-white.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.project-info a:hover .enquire {
  background: none;
  border: solid #423125 1px;
  color: #423125;
  transition: all 0.2s;
}
.project-info a:hover .arrow {
  background: url(assets/images/arrow_icon.png);
  width: 25%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
/*RESPONSIVENES*/
@media screen and (max-width: 1178px) {
  .cover-link {
    position: relative;
    width: 80%;
    margin: 0;
    align-self: center;
  }
  #all-projects a:nth-child(4n) {
    transform: translate(7%, -55%);
  }

  #all-projects a:nth-child(4n + 2) {
    transform: translate(0%, -15%);
  }
  #all-projects a:nth-child(4n + 3) {
    transform: translate(-10%, 0%);
  }
  .outlined h2 {
    font-size: 350px;
  }
  .project-info {
    padding: 3rem;
  }
  .project-pictures {
    padding: 2rem;
  }
  .project-pictures img {
    width: 80%;
  }
}
@media screen and (max-width: 1035px) {
  #all-projects a:nth-child(4n + 3) {
    transform: translate(0%, 10%);
  }
  #all-projects a:nth-child(4n) {
    transform: translate(5%, -60%);
  }
  #all-projects a:nth-child(4n + 2) {
    transform: translate(0%, -25%);
  }
  .project-pictures img {
    width: 100%;
  }
  .project-info {
    padding: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  #all-projects a:nth-child(4n + 3) {
    transform: translate(10%, 10%);
  }
  #all-projects a:nth-child(4n + 1) {
    transform: translate(10%, 5%);
  }
  .outlined h2 {
    font-size: 300px;
  }
  .project-title {
    padding: 1rem;
  }
  main {
    padding: 10rem 6rem 0 6rem;
  }
  .project-info p {
    font-size: smaller;
  }
}
@media screen and (max-width: 820px) {
  #monsi {
    width: 35%;
    padding: 1rem;
  }
  .cover-link {
    width: 85%;
  }
  #all-projects a:nth-child(4n + 1) {
    transform: translate(10%, 0);
  }
}
@media screen and (max-width: 720px) {
  #all-projects {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 7rem;
  }
  #all-projects a:nth-child(4n) {
    transform: translate(0, 0);
  }

  #all-projects a:nth-child(4n + 2) {
    transform: translate(15%, 0);
  }
  #all-projects a:nth-child(4n + 3) {
    transform: translate(-15%, 0);
  }
  #all-projects a:nth-child(4n + 1) {
    transform: translate(-10%, 0);
  }
  .cover-link {
    width: 60%;
  }
  #monsi {
    width: 50%;
    left: 25%;
  }
  .project {
    display: flex;
    flex-direction: column-reverse;
  }
  .project-pictures img {
    width: 80%;
  }
  .project-info {
    padding: 0 5rem 2rem 5rem;
    border: none;
  }
  .project-info p {
    font-size: medium;
  }
  .outlined {
    margin-top: 5rem;
  }
  .enquire {
    width: 100%;
  }
  footer {
    margin: 0 6rem;
  }
}
@media screen and (max-width: 600px) {
  .project-pictures img {
    width: 100%;
  }
  .project-info {
    padding: 0 2rem 2rem 2rem;
    border: none;
  }
  .outlined h2 {
    font-size: 250px;
  }
  #all-projects a:nth-child(4n),
  #all-projects a:nth-child(4n + 3) {
    width: 80%;
  }
  #all-projects a:nth-child(4n + 1) {
    transform: translate(-30%, 0);
  }
}
@media screen and (max-width: 500px) {
  #monsi {
    width: 60%;
    left: 20%;
  }
  .cover-link {
    width: 80%;
  }
  #all-projects a:nth-child(4n + 1) {
    transform: translate(-15%, 0);
  }
  #all-projects a:nth-child(4n),
  #all-projects a:nth-child(4n + 3) {
    width: 90%;
  }
  #all-projects a:nth-child(4n + 3) {
    transform: translate(-5%, 0);
  }
  .project-title {
    font-size: x-large;
  }
  .outlined {
    margin-top: 0;
  }
  .outlined h2 {
    font-size: 200px;
  }
  .project-info p {
    font-size: smaller;
  }
  .project-pictures {
    padding: 1rem;
  }
}
