/*FONTS*/
@font-face {
  font-family: Americana Std;
  src: url("assets/fonts/AmericanaStdRoman/AmericanaStdRoman.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Neue Haas Grotesk Display Pro;
  src: url("assets/fonts/NeueHaasGrotesk/NeueHaasDisplayLight.ttf")
      format("ttf"),
    url("assets/fonts/NeueHaasGrotesk/NeueHaasDisplayMediu.ttf") format("ttf"),
    url("assets/fonts/NeueHaasGrotesk/NeueHaasDisplayRoman.ttf") format("ttf");
  /* font-weight: normal;
  font-style: normal; */
}

/* general style */

html {
  color: #423125;
}

body {
  background-color: #fffdf8;
  padding: 0;
  margin: 0;
}

/* header */

header a {
  font-family: "Neue Haas Grotesk Display Pro Medium", sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #423125;
  font-size: larger;
}
header a:hover {
  text-decoration: underline;
  text-decoration-color: #423125;
}
.nav-contact {
  margin-top: 13%;
  transform: rotate(-90deg) translateX(-100%);
}

.nav-about {
  margin-top: 17%;
  transform: rotate(90deg) translateX(100%);
}

header {
  width: 100%;
  top: 0;
  height: auto;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* logo header */

.logo-header img {
  width: 10%;
  height: auto;
}

.logo-header {
  text-align: center;
  padding: 2rem 0;
  background-color: #fffdf8;
  width: 100%;
  top: 0;
  z-index: 2;
  position: fixed;
}

/* footer */

.footer-container {
  background-color: #f4f1ea;
  padding-bottom: 3rem;
  border-top: 1px solid #423125;
  margin-top: 8rem;
}

.footer-logo img {
  width: 12%;
  height: auto;
  margin: 3rem auto;
}

/* margin of the footer */

footer {
  margin: 0 8rem;
}

.footer {
  width: 80%;
  height: 33vh;
  background-color: #f4f1ea;
  color: #423125;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-heading {
  display: flex;
  flex-direction: column;
}

.footer-heading h2 {
  font-size: large;
}

.footer-heading a {
  color: #423125;
  text-decoration: none;
  margin-bottom: 0.5rem;
  letter-spacing: normal;
  font-size: small;
}

.footer-heading a:hover,
.footer-heading p:hover {
  text-decoration: underline;
}

.footer p,
.footer a {
  font-family: "Neue Haas Grotesk Display Pro Light", sans-serif;
  font-weight: lighter;
  font-size: small;
}

.footer h2 {
  font-family: "Neue Haas Grotesk Display Pro Roman", sans-serif;
  font-weight: lighter;
}

.footer p {
  line-height: 0.1rem;
  color: #423125;
  text-decoration: none;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1178px) {
  .footer-logo img {
    width: 15%;
  }
  .logo-header img {
    width: 15%;
  }
}
@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
}
@media screen and (max-width: 1000px) {
  .footer-logo img {
    width: 17%;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 820px) {
  .footer {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .footer-2,
  .footer-3,
  .footer-4 {
    margin-top: 3rem;
    align-items: center;
  }
  .footer-logo img {
    width: 40%;
  }
  .footer-logo {
    padding: 0;
    margin: 0;
  }
  .footer {
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .logo-header img {
    width: 20%;
  }
  header a {
    font-size: medium;
  }
  .footer {
    flex-direction: column;
  }
  .footer p,
  .footer a {
    font-size: medium;
  }
  .footer p {
    line-height: 0;
  }
}
@media screen and (max-width: 600px) {
  header a {
    font-size: smaller;
  }
  .nav-contact {
    margin-top: 25%;
    transform: rotate(-90deg) translateX(-100%);
  }

  .nav-about {
    margin-top: 30%;
    transform: rotate(90deg) translateX(100%);
  }
  footer {
    margin: 0 5rem;
  }
}
