/* general style */

body {
  padding: 0;
  margin: 0;
}

/* header */

a {
  font-family: "Neue Haas Grotesk Display Pro Medium", sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #423125;
  font-size: larger;
}

.nav-contact {
  margin-top: 13%;
  transform: rotate(-90deg) translateX(-100%);
}

.nav-about {
  margin-top: 17%;
  transform: rotate(90deg) translateX(100%);
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

/* logo header */

.logo-header img {
  width: 7%;
  height: auto;
}

.logo-header {
  text-align: center;
  padding: 2rem;
  background-color: #fffdf8;
  width: 100%;
  z-index: 2;
  position: fixed;
}
